@font-face { font-family: minecraft; src: url('minecraft_font.otf'); }

body {
    background-color: #242424;
    display: flex;
    margin: 0;
    grid-template-rows: 100vh;
    grid-gap: 0px 0px;
    justify-content: center;
    align-items: center;
}
#BOX {
    position: fixed;
    z-index: 0;
    margin-bottom: 10vh;
    grid-gap: 0px 0px;
}
#overlay {
    background: rgba(0,0,0,0.6); 
    width:      100%;
    height:     100%; 
    z-index:    10;
    top:        0; 
    left:       0; 
    position:   fixed;
    text-align: center;
    display: flex;
    justify-content: center;
}
.looted-item {
    display: block;
    top:        10vh; 
    position:   fixed;
    width: 30vw;
    max-width: 400px;
}
#item-title {
    position: fixed;
    font-size: arial;
    font-size: 5vw;
    font-family: minecraft;
    width: 90vw;
    top: 50vh;
}
#ok-btn {
    background-color: #00bd10;
    border-radius: 12px;
    width: 60vw;
    max-width: 400px;
    height: 70px;
    line-height: 70px;
    font-size: 40px;
    margin-top: 85vh;
    color: white;
    font-family: minecraft;
    cursor: pointer;
    transition: 0.5s;
}
#ok-btn:hover {
    background-color: #00810b;
}
#inv-btn {
    margin-top: 85vh;
    min-width: 250px;
    background-color: #0078bd;
    border-radius: 12px;
    width: 60vw;
    max-width: 400px;
    height: 70px;
    line-height: 70px;
    font-size: 40px;
    color: white;
    font-family: minecraft;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}
#inv-btn:hover {
    background-color: #00639c;
}
#close-btn {
    top: 85vh;
    position: absolute;
    background-color: #ff0000;
    border-radius: 12px;
    width: 60vw;
    max-width: 400px;
    height: 70px;
    line-height: 70px;
    font-size: 40px;
    color: white;
    font-family: minecraft;
    cursor: pointer;
    transition: 0.5s;
}
#close-btn:hover {
    background-color: #c20101;
}
#overlay-inv {
    background: rgba(0,0,0,0.6); 
    width:      100%;
    height:     100%; 
    z-index:    10;
    top:        0; 
    left:       0; 
    position:   fixed;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: minecraft;
}

.invboard {
    position: fixed;
    top: 10vh;
}